{% extends 'layout.html' %} {% block content %}

<section>
  <div class="user_card">
    <div class="user-data" >
      <img
        src="{{ url_for('static', filename='uploads/' + book.image) }}"
        alt="{{ book.name }} Image"
        class="book_img"
        style="width: 240px; height: auto; padding: 25px;"

      />
      <h3 class="card-title">{{ book.name }}</h3>
      <h6 class="location mb-2 text-muted">{{ book.author }}</h6>
      <p class="date">{{ book.price }} ₸</p>
      <form method="post" action="{{url_for('delete_book', book_id=book.id)}}">
        <button type="submit" class="button">Delete</button>
      </form>
    </div>
    <div>

      <h2>{{ book.description }}</h2>
    </div>
  </div>
</section>
{% endblock %}
