{% extends 'layout.html' %} {% block content %}
<section>
  <div class="user_card">
    <div class="user-data">
      <img
        src="{{image_file}}"
        alt="avatar"
        class="rounded-circle img-fluid"
        style="width: 150px; margin-inline: auto"
      />
      <h1 style="text-align: center">
        {{ current_user.first_name }} {{ current_user.last_name }}
      </h1>
      <a href="{{url_for('account_update')}}" style="all: unset">
        <button type="button" class="button">Edit</button>
      </a>
    </div>
    <div class="card-body">
      <div class="row">
        <h2><strong>Username </strong></h2>

        <h2>{{ current_user.username}}</h2>
      </div>
      <hr />
      <div class="row">
        <h2><strong>First name</strong></h2>

        <h2>{{ current_user.first_name }}</h2>
      </div>
      <hr />
      <div class="row">
        <h2><strong>Last name</strong></h2>

        <h2>{{ current_user.last_name }}</h2>
      </div>
      <hr />
      <div class="row">
        <h2><strong>Email</strong></h2>

        <h2>{{ current_user.email }}</h2>
      </div>
      <hr />
      <div class="row">
        <h2><strong>Phone number</strong></h2>

        {% if current_user.phone_number %}
        <h2>{{ current_user.phone_number }}</h2>
        {% else %}
        <h2>Not setted</h2>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
